<div class="d-flex justify-content-center align-items-center sticky-top bg-white">
  <h1 class="page-title"><%= link_to "Settings", profile_path %> > Edit <%= resource_name.to_s.humanize %></h1>
</div>

<div class="content">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.input :email, autofocus: true, required: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :username %>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions d-flex align-items-center flex-column mt-3">
      <%= f.button :submit, "Update", class: "btn-pink m-2" %>
      <%= link_to "Back", :back %>
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  <% end %>


  <%= render "shared/navbar" %>

  <script type="text/javascript">
    document.querySelectorAll(".navbar-icon").forEach ((element) => {
      element.style.opacity = 0.3;
    });
    document.getElementById("settings-icone").style.opacity = 1;
  </script>

</div>
