<div class="container-story col-12">

  <div class="container-story-up-author d-flex justify-content-between align-items-center">
    <%= link_to home_path do %>
      <i class="fas fa-times close-icone"></i>
    <% end %>
  </div>

    <div class="container-story-to-hide">
      <div class="container-author-infos">
        <div class="title-author d-flex justify-content-between">
          <h1 class="h1-author"><%= @author.username.capitalize %></h1>
          <% if @current_user.is_favorite?(@author) %>
            <i class="fas fa-star star-icone"></i>
          <% else %>
              <%= link_to author_favorite_authors_path(@author), method: :post  do %>
                <i class="far fa-star star-icone"></i>
              <% end %>
          <% end %>
        </div>
        <h4 class="h4-author">Author's main tags:</h4>
      </div>
      <div class="d-flex justify-content-start tag-author">
        <% @author.stories.pluck(:tags).flatten.uniq.first(3).each do |tag| %>
          <div class="tag mr-3"><%= tag %></div>
        <% end %>
      </div>
      <div class="author-separotor"></div>
    </div>

  <div class="content">
  <div id="readings" class="content-row">
    <h2 class="title-carousel">Latest stories</h2>
    <%= render "shared/carousel-story-cards", stories: @author.stories.sort_by(&:updated_at).reverse!.take(3) %>
  </div>

  <div class="content">
    <h2 class="title-carousel">Best rated stories</h2>
    <%= render "shared/carousel-story-cards", stories: @top_stories %>
  </div>

</div>

<%= render "shared/navbar" %>
