
<div class="container" id="forgot-password">
  <div class="vh-100 d-flex flex-column justify-content-start align-items-center p-6rem">
  <%= image_tag "landing_logo.png", class: "logo-sign-up" %>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "w-100 px-3", method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="mb-3">
            <div class="text-black"><p>Email Address:</p></div>
            <div class="d-flex box-lightblue pl-3 block-input">
              <div><i class="fas fa-envelope text-white"></i></div>
              <div class="flex-grow-1">
                <%= f.input :email,
                      required: true,
                      label: false,
                      placeholder: "email@email.com",
                      input_html: { autocomplete: "email" }%>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Send me instructions", class:"btn-vibrary" %>
          </div>
      <% end %>

      <div class="d-flex justify-content-between mt-4 w-100">
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>

