<% Story::TAGS.each do |tag| %>
  <% if params[:tag]&.include?(tag) %>
    <input class="my-checkboxes" type="checkbox" id="<%= tag %>" value="<%= tag %>" name="tag[]" checked>
  <% else %>
    <input class="my-checkboxes" type="checkbox" id="<%= tag %>" value="<%= tag %>" name="tag[]">
  <% end %>
  <label for="<%= tag %>"><%= tag %></label>
<% end %>


<%# <input class="my-checkboxes vibrations" type="checkbox" id="vibration_compatibility" name="false" value="vibration_compatibility" checked> %>
<%# <% if params[:vibration] == 'on' %>
  <%# <input class="my-checkboxes vibrations" type="checkbox" id="vibration" name="vibration" checked> %>
<%# <% else %>
  <%# <input class="my-checkboxes vibrations" type="checkbox" id="vibration" name="vibration"> %>
<%# <% end %>
<%# <label for="vibration">Vibration</label>  %>

