<div id="linkable-div" class="container story-card col-9 d-flex <%= "vibrate" if story.vibration_compatibility %>" id="story-<%= story.id %>" >
  <div class="story-card-row story-card-row-up">
    <% if story.user_favorite(current_user) %>
      <%= link_to favorite_path(Favorite.find_by(story: story, user: current_user)), remote: true, method: :delete do %>
        <i class="story-card-icone fas fa-bookmark"></i>
      <% end %>
    <% else %>
      <%= link_to story_favorites_path(story), remote: true, method: :post  do %>
        <i class="story-card-icone far fa-bookmark"></i>
      <% end %>
    <% end %>


    <h1><%= link_to story.title.capitalize, story_path(story) %></h1>
    <h4>By <%= link_to "#{story.author.username}", author_path(story.author) %></h4>
      <div class="story-card-text">
        <%= link_to story_path(story) do %>
          <p class="story-card-p"><%= story.content %></p>
        <% end %>
      </div>
  </div>

  <div class="story-card-row story-card-row-down">
    <div class="story-card-infos">
      <div class="d-flex py-3 px-1 align-items-center">

        <div class="likes d-flex align-items-center" >
          <i class="info-icon far fa-thumbs-up mr-2"></i>
          <p class="info-text"><%= story.score %></p>
        </div>

        <div class="readings d-flex">
          <i class="info-icon fas fa-eye"></i>
          <p class="info-text"><%= story.readings.count %></p>
        </div>

      </div>
      <div class="d-flex">
        <% story.tags.each do |tag| %>
          <div class="tag"><%= tag %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%# <script lang="javascript">
  const linkableCard = document.getElementById('linkable-div');
  element.addEventListener(eventType, (event) => {
  // Do something (callback)
  });
</script> %>

