<div>
  <div class="d-flex justify-content-center align-items-center sticky-top bg-white">
    <h1 class="page-title">Search</h1>
  </div>

  <div class="form-group" data-controller="filter">
    <%= form_tag stories_path, method: :get, remote: true, data: { filter_target: 'form', action: 'change->filter#change' } do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control my-2",
        placeholder: "What are you looking for ?" %>
      <%= render "shared/checkboxes" %>
    <% end %>
  </div>

  <div class="content">
    <div id="list-result">
      <% if @searched_terms.empty? %>
        <div class="content">
          <div id="recommended" >
            <h2>Recommended for you</h2>
            <%= render "shared/carousel-story-cards", stories: @recommended_stories %>
          </div>
        </div>

        <div class="content">
          <div id="best-rated" >
            <h2>Best rated</h2>
            <%= render "shared/carousel-story-cards", stories: @best_stories %>
          </div>
        </div>

      <% else %>
        <h2>Your results</h2>
        <% if @searched_stories.empty? %>
          <p> No match found </p>
        <% else %>
          <div id='list' class='container'>
            <%= render 'list', searched_stories: @searched_stories %>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>

</div>

<%= render "shared/navbar" %>

<script type="text/javascript">
  document.querySelectorAll(".navbar-icon").forEach ((element) => {
    element.style.opacity = 0.3;
  });
  document.getElementById("search-icone").style.opacity = 1;
</script>
