<div class="d-flex justify-content-center align-items-center sticky-top bg-white">
  <h1 class="page-title">Search</h1>
</div>

<div class="form-group">
  <%= form_tag stories_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control my-2",
      placeholder: "What are you looking for ?" %>
      <%= render "shared/checkboxes" %>
  <% end %>
</div>

<% if params[:query].present? || params[:tag].present? %>

  <div class="content">
    <div id="recommended" >
      <h2>Your results</h2>
      <% @searched_stories.each do |story| %>
        <%= render "shared/story-card", story: story %>
      <% end %>
    </div>
  </div>

<% else %>

  <div class="content">
    <div id="recommended" >
      <h2>Best rated</h2>
      <%= render "shared/carousel-story-cards", stories: @recommended_stories %>
    </div>
  </div>

  <div class="content">
    <div id="recommended" >
      <h2>Best rated</h2>
      <%= render "shared/carousel-story-cards", stories: @best_stories %>
    </div>
  </div>

<% end %>

<%= render "shared/navbar" %>

<script type="text/javascript">
  document.querySelectorAll(".navbar-icon").forEach ((element) => {
    element.style.opacity = 0.3;
  });
  document.getElementById("search-icone").style.opacity = 1;
</script>
