<div class="d-flex justify-content-center align-items-center sticky-top bg-white">
  <h1 class="page-title">Search</h1>
</div>

<div class="form-group">
  <%= form_tag stories_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control my-2",
      placeholder: "What are you looking for ?" %>
      <%= render "shared/checkboxes" %>
  <% end %>
</div>

<div class="content">
  <div id="recommended" >
    <h2>Recommended for you</h2>
    <%= render "shared/carousel-story-cards", stories: @stories %>
  </div>
</div>

<div class="content">
  <div id="recommended" >
    <h2>Best rated</h2>
    <%= render "shared/carousel-story-cards", stories: @stories %>
  </div>
</div>

<%= render "shared/navbar" %>

<script type="text/javascript">
  document.querySelectorAll(".navbar-icon").forEach ((element) => {
    element.style.opacity = 0.3;
  });
  document.getElementById("search-icone").style.opacity = 1;
</script>
