<div class="container-story col-12">

  <div class="container-story-up d-flex justify-content-between align-items-center">
    <%= link_to home_path do %>
      <i class="fas fa-times close-icone"></i>
    <% end %>

    <a href="#" id="stop-vibing" class="btn btn-pink">Stop</a>

    <div class="rating justify-content-between">
      <i class="far fa-thumbs-up rating-icone"></i>
      <i class="far fa-thumbs-down rating-icone"></i>
    </div>
  </div>

  <div class="container-story-to-hide">
    <div class="container-story-infos">
      <div class="title-favorite d-flex justify-content-between">
        <h1><%= @story.title.capitalize %></h1>
        <% if @story.user_favorite(current_user) %>
          <i class="fas fa-bookmark bookmark-icone"></i>
        <% else %>
        <%= link_to story_favorites_path(@story), method: :post do %>
          <i class="far fa-bookmark bookmark-icone"></i>
      <% end %>
        <% end %>
      </div>
      <h4>By <%= @story.author.username %></h4>
      <div class="d-flex justify-content-start">
        <% @story.tags.each do |tag| %>
          <div class="tag mr-3"><%= tag %></div>
        <% end %>
      </div>
    </div>

    <div class="container-story-vibrate">
      <h3>Vibration</h3>
      <i class="fas fa-toggle-off toggle-icone" id="toggle-scan" data-scan="off"></i>
      <%# <div id="toggle-scan">
        <label class="switch">
          <input type="checkbox">
          <span class="sliding round"></span>
        </label>
      </div> %>
      <%# <a href="#" id="toggle-scan">Scan</a> %>
    </div>
  </div>

  <div class="story-text">
    <p>“Do you like the mirror Mrs Grey?” the hoarse whisper next to my ear suggests that he too, is a fan. One arm is locked around my waist, securing me to him and the other is trailing slow, fingertip-circles over my belly, not going anywhere near where I want them to go.</p>

    <p>My head rolls back onto his shoulder, my eyes almost flickering closed, lids heavy with desire, “mmhh,” I mewl my affirmation.</p>

    <p data-vibe="1" data-intensity="0.2">He chuckles quietly, “look at us baby,” the sharp spike of pain that connects my nipple to my sex makes my eyes fly open as Christian pinches the straining bud. I gasp and shudder embarrassingly against him.</p>

    <p>“So eager Mrs Grey, so responsive,” he teases, “shall I make you come like this?” he’s rolling my peak between his thumb and forefinger, a leisurely squeeze and roll through the lace of the bra – just enough to drive me wild but not enough to get me off.</p>

    <p>“Please,” I manage past my panting breaths. Any which way, I don’t care as long as you do!</p>

    <p>Watching him – us is unspeakably erotic; my desire pooling, building, heaving I decide to help things along. He senses the shift in my arms that I want to slip from their hold so I can touch him but his growling order stops me, “keep still baby, if you move I stop.”</p>

    <p data-vibe="1" data-intensity="0.2">I whimper and re-join my hands behind his neck, thrusting my breasts forward.</p>

    <p>“I want you too baby, I just want to play a bit, enjoy this moment with my wife.” Instead of soothing me the way he draws out the word wife sends lashings of fire through my veins, my stomach muscles already starting to quiver in anticipation of my brewing release.</p>

    <p id="test">Fuck!</p>

    <p>“Look at your breasts Anastasia,” he cups one breast from the bottom, holding it for our mutual appreciation.  The balcony bra retains my breasts in a perfect display, the very low cut of the demi cups only just covering my puckering areola. His voice is turning huskier, his look darker as he brushes his thumb over the dark raring point.</p>

    <p>This time we gasp together, sucking in a fervent breath before Christian spins me around, crushing his mouth to mine. The harsh assault steals all reason, only awareness of blazing sensation remains; it feels like his hands are everywhere at once.</p>

    <p>I push off his shirt and roughly undo his belt, my fingers suddenly deft in their eagerness. I slide my hands down the sides of his torso, beneath the elastic of his boxers to get rid of both undies and pants in one go. He steps out of his slacks and I grip him firmly, working my fist down the length of him. When he inhales against my vigorous attack I trace the seal of his mouth with my tongue.</p>

    <p>Bodies joined, hungry sounds escaping, he starts walking us back, up against the edge of the bed. I break away; placing both palms on his chest I push so he topples backwards onto the covers. He laughs at my audacity, the throaty rumble is a shockingly sexy sound so I follow, crawling up to straddle him.</p>

    <p data-vibe="1" data-intensity="0.2">In a surprise move he sits up, holding my hips in place, “so brazen Mrs Grey but I hope you know you’re not in charge right now.” Even though his eyes are smiling they’re also scorching with his unguarded want, clearly he has a plan for our first wedded union. I pout and bat my lashes but truthfully, I’m eager to be driven to passion by his expert steering. “Turn around baby.”</p>

    <p>I swivel and sit on his lap; my legs tucked back, knees planted on either side of his thighs, facing the mirror once more. His plan is suddenly crystal clear, I’m completely open to him, legs spread wide. Like this, both of his hands are free to touch and caress wherever he wants. His erection, currently hot and rigid between the cheeks of my behind, ready to push through my wet folds and we can watch it all, together.</p>

    <p>I’m grateful that he seems to have reached the edge of his control as he lifts my hips and brings me down, his hips shoving up to fill me with all of his hard length – finally letting me feel the delicious stretch my sex has been aching for.</p>

    <p>He grunts, his teeth bared as if in pain as he fights to hold off his release, keeping me still. I groan in pleasure, one hand finding a grip on his thigh while the other rakes through his hair.</p>

    <p>His hand snakes down, finding the sensitive heart in my slick mound his fingers start to circle there, the pressure perfect. “Fuck Ana, you’re so tight, so wet. Move baby, push up with your knees.” He growls though his gritted teeth as his other hand finds my breast. Pulling the bra cup down he tweaks my nipple, echoing the phenomenal pleasure down below.</p>

    <p data-vibe="1" data-intensity="1">I don’t need to be asked twice, flexing my quads I drive up, to his very tip before forcing myself down, finding that sensational grind and friction that starts the inevitable spiral resulting from this much stunning stimulation.</p>

    <p>Watching him touching me, filling me has us unravelling rapidly, “come baby, come now!” he demands, his clever fingers increasing their fantastic rhythm, matching the increasing speed of my strokes up and down his ever hardening shaft perfectly.</p>

    <p>I fall hard, spectacularly as the coiled tension releases like a cracked whip in a blinding shudder that’s intensified by Christian’s vicious pulsing inside me, the aftershocks of our shared orgasm prolonging my gratification. Christian pants into my neck, dropping tender, out-of-breath kisses behind my ear as we float back to our senses.</p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>

  <%= render "shared/vibrating-zone" %>

</div>

<script type="text/javascript">
</script>
