<div class="container-story col-12">

  <div class="container-story-up d-flex justify-content-between align-items-center">
    <%= link_to home_path do %>
      <i class="fas fa-times close-icone"></i>
    <% end %>

    <div class="rating justify-content-between">
      <i class="far fa-thumbs-up rating-icone"></i>
      <i class="far fa-thumbs-down rating-icone"></i>
    </div>
  </div>

  <div class="container-story-to-hide">
    <div class="container-story-infos">
      <div class="title-favorite d-flex justify-content-between">
        <h1><%= @story.title.capitalize %></h1>
        <% if @story.user_favorite(current_user) %>
          <i class="fas fa-bookmark bookmark-icone"></i>
        <% else %>
          <i class="far fa-bookmark bookmark-icone"></i>
        <% end %>
      </div>
      <h4>By <%= @story.author.username %></h4>
      <div class="d-flex justify-content-start">
        <% @story.tags.each do |tag| %>
          <div class="tag mr-3"><%= tag %></div>
        <% end %>
      </div>
    </div>

    <div class="container-story-vibrate">
      <h3>Vibration</h3>
      <% # <i class="fas fa-toggle-off toggle-icone" id="toggle-scan"></i> %>
      <div id="toggle-scan">
        <label class="switch">
          <input type="checkbox">
          <span class="sliding round"></span>
        </label>
      </div>
      <%# <a href="#" id="toggle-scan">Scan</a>
      <a href="#" id="stop-vibing">Stop</a> %>
    </div>
  </div>

  <div class="story-text">
    <p>“Do you like the mirror Mrs Grey?” the hoarse whisper next to my ear suggests that he too, is a fan. One arm is locked around my waist, securing me to him and the other is trailing slow, fingertip-circles over my belly, not going anywhere near where I want them to go.</p>

    <p>My head rolls back onto his shoulder, my eyes almost flickering closed, lids heavy with desire, “mmhh,” I mewl my affirmation.</p>

    <p class="vibe">He chuckles quietly, “look at us baby,” the sharp spike of pain that connects my nipple to my sex makes my eyes fly open as Christian pinches the straining bud. I gasp and shudder embarrassingly against him.</p>

    <p>“So eager Mrs Grey, so responsive,” he teases, “shall I make you come like this?” he’s rolling my peak between his thumb and forefinger, a leisurely squeeze and roll through the lace of the bra – just enough to drive me wild but not enough to get me off.</p>

    <p>“Please,” I manage past my panting breaths. Any which way, I don’t care as long as you do!</p>

    <p>Watching him – us is unspeakably erotic; my desire pooling, building, heaving I decide to help things along. He senses the shift in my arms that I want to slip from their hold so I can touch him but his growling order stops me, “keep still baby, if you move I stop.”</p>

    <p>I whimper and re-join my hands behind his neck, thrusting my breasts forward.</p>

    <p>“I want you too baby, I just want to play a bit, enjoy this moment with my wife.” Instead of soothing me the way he draws out the word wife sends lashings of fire through my veins, my stomach muscles already starting to quiver in anticipation of my brewing release.</p>

  </div>

  <%= render "shared/vibrating-zone" %>

</div>

<script type="text/javascript">
  window.addEventListener('scroll', async (event) => {
    const positionTextVibingSize = document.querySelector(".vibe").getBoundingClientRect();
    const positionTextVibingTop = document.querySelector(".vibe").getBoundingClientRect().y;
    const positionTextVibingBottom = document.querySelector(".vibe").getBoundingClientRect().bottom;
    const positionFocusZoneTop = document.querySelector(".vibrating-zone").getBoundingClientRect().y;
    const positionFocusZoneBottom = document.querySelector(".vibrating-zone").getBoundingClientRect().bottom;
    if ((positionTextVibingTop < positionFocusZoneBottom) && (positionFocusZoneTop < positionTextVibingBottom )) {
      console.log("je suis dedans");
    } else {
      console.log("je suis dehors")
    }
  });
</script>
