<div class="container-story col-12">

  <div class="container-story-up d-flex justify-content-between align-items-center">
    <%= link_to home_path do %>
      <i class="fas fa-times close-icone"></i>
    <% end %>

    <a href="#" id="stop-vibing" class="btn btn-pink" style="display:none">Stop</a>

    <div class="rating justify-content-between">

      <% if current_user.downvoted?(@story.id) || !current_user.voted?(@story.id) %>
        <%= link_to story_reactions_path(@story, params: { upvoted: true }), method: :post do %>
          <i class="far fa-thumbs-up rating-icone"></i>
        <% end %>
      <% else %>
        <%= link_to reaction_path(Reaction.find_by(story: @story, user: current_user)), method: :delete do %>
          <i class="fas fa-thumbs-up rating-icone"></i>
        <% end %>
      <% end %>

      <p class="info-text"><%= @story.score%></p>

      <% if current_user.upvoted?(@story.id) || !current_user.voted?(@story.id) %>
        <%= link_to story_reactions_path(@story, params: { upvoted: false }), method: :post do %>
          <i class="far fa-thumbs-down rating-icone" style="color: #9AA5F4;"></i>
        <% end %>
      <% else %>
        <%= link_to reaction_path(Reaction.find_by(story: @story, user: current_user)), method: :delete do %>
          <i class="fas fa-thumbs-down rating-icone" style="color: #9AA5F4;"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container-story-to-hide">
    <div class="container-story-infos">
      <div class="title-favorite d-flex justify-content-between">
        <h1><%= @story.title.capitalize %></h1>
        <% if @story.user_favorite(current_user) %>
          <%= link_to favorite_path(Favorite.find_by(story: @story, user: current_user), location: 'show'), class: "bookmark-plain", method: :delete do %>
            <i class="fa fa-bookmark bookmark-icone" style="color: #9AA5F4;"></i>
          <% end %>
        <% else %>
          <%= link_to story_favorites_path(@story, location: 'show'), class: "bookmark-empty", method: :post do %>
            <i class="far fa-bookmark bookmark-icone" style="color: #9AA5F4;"></i>
          <% end %>
        <% end %>
      </div>
      <h4>By <%= link_to "#{@story.author.username}", author_path(Story.find(params[:id]).author) %></h4>
      <div class="d-flex justify-content-start">
        <% @story.tags.each do |tag| %>
          <div class="tag mr-3"><%= tag %></div>
        <% end %>
      </div>
    </div>

    <div class="container-story-vibrate">
      <h3>Vibration</h3>
      <i class="fas fa-toggle-off toggle-icone" id="toggle-scan" data-scan="off"></i>
    </div>
  </div>

  <div class="story-text">
    <%= @story.content.html_safe %>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>

  <%= render "shared/vibrating-zone" %>

</div>

<script type="text/javascript">
</script>
